*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h2{
    margin-top: 50px;
    margin-left: 45px;
    margin-bottom: 10px;
}
#main{
    margin-top: 10px;
    /* border: 1px solid red; */
    display: flex;
    height: 1000px;
    justify-content: space-around;
    
}
#main>div{
    height: 800px;
    /* border: 1px solid red; */
    margin-right: 30px;
    padding: 10px;
}
#check>div{
    width: 90%;
    height: 120px;
    border: 1px solid rgb(201, 197, 197);
    /* border: 1px solid red; */
    margin-bottom: 10px;
    padding: 10px;

}
#box{
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    height: 250px;
    margin-left: 20px;
    margin-right: 20px;
}
#box>#imgcont{
    width: 95%;
    border: 1px solid rgb(201, 197, 197);
    margin: 5px;
    padding: 5px;
    display: flex;
    height: 150px;
}

#divimg{
    /* border: 1px solid blue; */
    width: 20%;
    height:100%;
    margin-right: 10px;
}
#divimg img{
    width: 100%;
    height: 100%;
}
#divcont{
    padding: 10px;
    font-weight: bold;
    /* border: 1px solid yellowgreen; */
    width: 50%;
    height:80%;
    margin-top: 10px;
}
#check{
    width: 40%;
    height: 500px;
}
#div{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
#pin{
    width: 180px;
    height: 25px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgb(201, 197, 197);
}
button{
    width:90px ;
    height: 40px;
    background: none;
    padding: 3px;
    border: 1px solid rgb(201, 197, 197);
    border-radius: 5px;
}#div>div{
    background-color:rgb(252, 235, 237);
    margin-top: -5px;
    height: 50px;
    padding: 5px;
    
}
img{
width: 100px;
height: 80px;
margin-right: 20px;
}
#box2{
display: flex;

}
#box2>p{
display: flex;
}
#box22{
display: flex;
flex-wrap: wrap;
}
#box22>p:nth-child(2){
margin-left: 100px;
}
#box22>p:nth-child(3){
margin-top: -10px;

}
#check>#box2{
height: 90px;

}
#check>#box3{
height: 230px;

}
#check>#box4{
    height: 150px;
}
#dba3{
    /* border: 1px solid red; */
    padding: 2px;
display: flex;
margin-bottom: 10px;

}
#box3>div:nth-child(2){
display: flex;
margin-bottom: 10px;

}
#last{
display: flex;
margin-top: 20px;
}
h4{
margin-left: 220px;
} h3{
margin-left: 200px;
}
#total{
margin-left: 250px;
font-weight: bold;
font-size: 20px;
}
#btn{
width: 100%;
height: 40px;
padding: 10px;
background-color: rgb(47, 47, 167);
border: none;
margin-top: 10px;



}
#btn a{
text-decoration: none;
color: white;
font-size: 15px;

}
#btn+div{
margin-top: 10px;
background-color: rgb(222, 222, 245);
padding: 4px;

}
#productadd{
margin-left: 40px;
font-weight: bold;
}
.re{
border: none;
color: blue;
cursor: pointer;
margin-left: 280px;
margin-top: 10px;
}
#box4{
border: 1px solid red;
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}
#box4 button{
border: 1px solid blue;
color: blue;
}
#box4>p+p{
color: blue;
}
#login a{
    color:blue;
    text-decoration: none;
    font-weight: bolder;

    padding: 5px 10px 5px 10px;
}
#learn a{
    color: blue;
    

}
#learn{
    margin-top: 10px;
}
#login+p{
    margin-top: 10px;
}