*{
    padding: 0px;
    margin: 0px;
    font-family: ProximaNova-Semibold,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    
}
header{
    background-color: white;
    position: sticky;
    top: 0px;
    z-index: 1;
}

#nav1{
    width: 100%;
    background-color: black;
    height: 30px;
    color: white;
    display: flex;
}
#nav2{
    width: 100%;
    background-color:rgb(#f7f8f7) ;
    color: black;
    height: 50px;
    /* border: 1px solid red; */
    display: flex;
  
}
#nav3{
    width: 100%;
    background-color: white;
    color: black;
    height: 40px;
    /* border: 1px solid teal; */
    width: 80%;
    margin: auto;
    /* font-weight: bold; */
    
}
#na1-left{
    /* border: 1px solid blue; */
    /* width: 50%; */
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30%;
    margin: auto;
}
#na1-right{
    /* border: 1px solid green; */
    /* width: 50%; */
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30%;
    margin: auto;
}
.na1-left-p{
    font-size: 14px;
}
.na1-icon-left{
    display: flex;
    
}
.fa-solid{
    margin-right: 8px;
}
.na1-right-p{
    font-size: 12px;
}
.na1-icon-right{
    display: flex;
}
.fa-solid-1{
    font-size: 12px;
    margin-right: 10px;
}
.fa-solid-2{
    font-size: 12px;
    margin-left: 10px;
}
#na1-right-inside{
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#na2-left{
/* border: 1px solid blue; */
width: 70%;



}
 a{
    font-size: 12px;
}
#na2-right{
width: 30%;
/* border: 2px solid teal; */
display: flex;
justify-content: space-around;
align-items: center;


}
#basket{
    display: flex;
    justify-content: center;
    align-items: center;
 padding-right: 50%
}
.na2-right-para{
    font-size: 12px;
}
.fa-bag-shopping{
    padding-left: 8px;
}
#company-logo{
    height: 50px;
    width: 60px;
    margin-top: 5px;
}
#nav3 ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40px;
}
#nav3 ul li{
    list-style: none;
    /* padding: 0 20px; */
    font-size: 12px;
    
}
#nav3 ul li:hover{
    color: blue;
    /* font-weight: bold; */
    cursor: pointer;
}
#na2-left-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: auto;
}
#na2-left-content a{
    text-decoration: none;
    color:black;
}
#na2-left-content a:hover{
    
    color: blue;
    /* font-weight: bold; */
}
.search-bar{
    width: 300px;
    height: 30px;
    background-color:#ecedeb;
    /* border: 1px solid black; */
    align-items: center;
    display: flex;
    border: none;
padding-left: 5px;

}
.search-box{
    background-color:#ecedeb;
    height: 25px;
    width: 300px;
border: none;
/* background-color: transparent; */
outline: none;
}
.discount-price{
    color: white;
    background-color:rgb(48, 58, 178);
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}
.body-heading{
    font-size: 30px;
}
.slide-container{
    position: relative;
    width: 100%;
    margin-top: 20px;
}
.slide{
    width: 75%;
    
    margin: auto;
    
}
.slide .slideimg{
    width: 100%;
    margin: auto;
    
}
.arrow{
    cursor: pointer;
    position: absolute;
    top: 55%;
    /* background-color:rgba(225,225,255,0.712); */
    color: black;
    padding: 8px 20px;
    margin: auto;
    font-size: 25px;
}
.next{
    right: 130px;
}
.prev{
    left: 130px;
}
.slide{
    display: none;
}
.body-heading{
    width: 70%;
    margin: 30px 0px 0px 0px;
}
.cont{
width: 75%;
margin: auto;
}
.cont-img{
    width: 100%;
    margin: 30px 0px 30px 0px;
    cursor: pointer;
}
hr{
    width: 75%;
    margin: auto;
    opacity: 0.3;

}
#tr-st-img{
    display: flex;
    gap: 10px;
    width: 75%;
    margin: auto;
    
}
.tr-img{
    width: 32%;
    margin: auto;
    cursor: pointer;
}
#trending-para{
    font-size: 30px;
    
    width: 75%;
    margin: auto;
    padding: 30px 30px;
}
/* footer start */
#foot-1-cont{
    /* border: 1px solid red; */
    width: 75%;
    margin: auto;
    height: 150px;
    display: flex;
}
#foot-1-left{
    /* border: 2px solid blue; */
    height: 150px;
    width: 100%;


}
#foot-1-right{
    /* border: 2px solid green; */
    height: 150px;

    width: 100%;
}
.foot-heding{
    font-size: 20px;
    padding: 10px 10px;
    
}
.foot-para{
    font-size: 14px;
    color: #929391;
    padding: 10px 10px;

}
#foot-button{
    background-color: black;
    color: white;
    padding: 10px 30px 10px 30px;
    margin-left: -10px;
    font-size: 17px;
}
#foot-search-bar{
    width: 190px;
    height: 28px;
    outline: none;
    border: 1px solid #e2e8e2;
    background-color:rgb(#f7f8f7) ;
    padding: 8px 20px 8px 20px;
    margin: 10px 10px;
}
.apple-google{
    display: flex;
    justify-content: space-evenly;
    justify-content: center;
    padding-right: 42%;
    padding-top: 3%;
}
.apple-logo{
    height: 43px;
    width: 120px;
    padding-right: 20px;
}
.google-logo{
    height: 53px;
    width: 130px;
    margin-top: -5px;
}
#logsign{
    text-decoration: none;
    color:black;
}
#basket:hover{
    cursor: pointer;
    
}
#foot-2-cont{
    height: auto;
    width: 70%;
    margin: auto;
    /* border: 1px solid red; */
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(2,auto);
    margin-bottom: 30px;
    row-gap: 20px;
}
#footer-hr{
    width: 100%;
}
.options{
    /* border: 1px solid teal; */
    
}
.options ul li{
    font-size: 12px;
    list-style: none;
    padding-bottom: 7px;
    color: #929391;
}
.optionhead{
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 9px;
}
.contact{
    height: 100px;
    width: 75%;
    /* border: 1px solid teal; */
    display: flex;
    margin: auto;
    /* margin-top: 30px;
    margin-bottom: 30px; */
}
.left-contact{
    height: 100px;
    width: 60%;
    /* border: 1px solid blue; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.right-contact{
    height: 100px;
    width: 40%;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.le-co-de{
    display: flex;
    gap: 7px;
    align-items: center;
    width: 50%;
    
    
}
.icon-img{
    height: 30px;
    width: 30px;
}
.fot-ic-para{
    color: #929391;
    font-size: 13px;
}
.con-sub-para{
    font-size: 13px;
}
#social-icon{
    gap: 20px;
    display: flex;
    /* border: 1px solid red; */
    margin-left: 70%;
}
#foot-last{
    width: 70%;
    margin: auto;
    /* border: 1px solid red; */
    /* height: 100px; */
    /* margin-top: 10px; */
display: flex;
gap: 10px;
align-items: center;
}
.pol-para{
font-size: 12px;
color: #929391;
}
#na2-right a{
    text-decoration: none;
    color: black;
}